<script>
	//https://github.com/karthikJagadeesh/fake-chat-api/blob/master/db.json
	import AvatarCard from '$components/AvatarCard.svelte';
	import { onMount } from 'svelte';
	import { get } from 'svelte/store';
	import { page } from '$app/stores';
	// import { fade, fly } from 'svelte/transition';

	import { persons, messages } from './store';
	let typedMessage;
	console.log('page');
	console.log(page);
	console.log('$page');
	console.log($page);
	console.log('$page.data.session');
	console.log($page.data.session);

	let talkingTo;
	talkingTo = $page.url.searchParams.get('chatwith');
	let mounted = false;

	// https://svelte.dev/repl/e073dc93fb3347848062a531271e497f?version=3.24.0
	function scrollIntoView() {
		const el = document.querySelector('#end');
		// el.scrollIntoView(false);
		if (!el) return;
		el.scrollIntoView(false, {
			behavior: 'smooth'
		});
	}
	async function getMessages() {
		try {
			const response = await fetch('api/messages/getMessages');
			const data = await response.json();
			console.log('messages data');
			console.log(data);
			messages.set(data);
		} catch (error) {
			console.log(error);
			return [];
		}
		scrollIntoView();
	}

	async function postMessage() {
		console.log('here is page data');
		console.log($page.data);
		if (typedMessage.length > 0) {
			let body = {
				msg: typedMessage,
				msgTo: talkingTo,
				// msgFrom: 'me',
				// imgFrom: 'whatever'
				msgFrom: $page.data.session.user.username,
				imgFrom: $page.data.session.user.image
			};
			body = JSON.stringify(body);
			try {
				const response = await fetch('api/messages/postMessage', {
					method: 'POST',
					body: body
				});
				const data = await response.json();
			} catch (error) {
				console.log(error);
				return [];
			}
		}
		await getMessages();
		typedMessage = '';
	}

	async function selectCard(username) {
		talkingTo = username;
		console.log(talkingTo);
		await getMessages();
	}
	onMount(async () => {
		async function getPersons() {
			let chatwith;
			try {
				chatwith = $page.url.searchParams.get('chatwith');
				const response = await fetch(
					'api/users/getContacts?username=' +
						$page.data.session.user.username +
						'&chatwith=' +
						chatwith
				);
				const data = await response.json();
				console.log(data);
				persons.set(data);
			} catch (error) {
				console.log(error);
				return [];
			}
		}
		await getPersons();

		getMessages();
		mounted = true;
	});
	let clear;
	$: {
		clearInterval(clear);
		clear = setInterval(getMessages, 2000);
	}
</script>

<div class="grid grid-cols-12 p-5">
	<div class="col-span-3">
		{#if mounted}
			{#each $persons as user}
				<button on:click={selectCard(user.username)}>
					<AvatarCard title={user.username} subtitle={user.name} img={user.image} /></button
				>
			{/each}
		{/if}
	</div>

	<div class="col-span-9 ml-5 p-5 bg-white">
		{#if mounted}
			{#each $messages.filter((message) => {
				return (message.msgFrom == $page.data.session.user.username && message.msgTo == talkingTo) || (message.msgFrom == talkingTo && message.msgTo == $page.data.session.user.username);
			}) as message}
				<div
					class="chat {message.msgFrom == $page.data.session.user.username
						? 'chat-end'
						: 'chat-start'}"
				>
					<div class="chat-image avatar">
						<div class="w-10 mask mask-squircle">
							<img src={message.imgFrom} alt="..." />
						</div>
					</div>
					<div class="chat-header">
						{message.msgFrom}
					</div>
					<div class="chat-bubble">{message.msg}</div>
				</div>
			{/each}
		{/if}
		<div class="flex flex-col w-full">
			<div class="divider" id="end" />
		</div>
		<table id="chat-input" class="table fixed bottom-0">
			<tbody>
				<tr>
					<td style="width:80%" class="table-cell">
						<input
							type="text"
							placeholder="Type here"
							class="table-cell input input-bordered  w-full input-md max-w-md"
							bind:value={typedMessage}
						/>
					</td>
					<td style="width:20%" class="table-cell">
						<button class="btn" on:click={postMessage}>Send</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
