<script>
	import AvatarCard from '$components/AvatarCard.svelte';
	export let cart;
	import { notifications } from '$lib/notifications.js';
	import Toast from '$components/Toast.svelte';
	import { goto } from '$app/navigation';

	import { NumberInput } from '@svelteuidev/core';
	async function checkoutCart(cartId) {
		let body = JSON.stringify({
			id: cartId
		});
		try {
			const response = await fetch('api/carts/checkoutCart', {
				method: 'POST',
				body: body
			});
			const data = await response.json();
			notifications.info(data.message, 3000);
			// https://www.w3schools.com/howto/howto_js_redirect_webpage.asp
			setTimeout((window.location.href = '/order'), 5000);
		} catch (error) {
			console.log(error);
			return [];
		}
	}
</script>

<div class="overflow-x-auto w-full p-5">
	<article class="prose">
		<h2>{cart.seller} Shop</h2>
	</article>
	<table class="table w-full">
		<!-- head -->
		<thead>
			<tr>
				<th style="width:40%">Product</th>
				<th style="width:15%">Price/Unit</th>
				<th style="width:15%">Quantity</th>
				<th style="width:15%">Price</th>
				<th style="width:15%">Actions</th>
			</tr>
		</thead>
		<tbody>
			<!-- row 1 -->
			{#each cart.products as product}
				<tr>
					<td>
						<div class="flex items-center space-x-3">
							<div class="avatar">
								<div class="mask mask-squircle w-12 h-12">
									<img src={product.image} alt="Avatar Tailwind CSS Component" />
								</div>
							</div>
							<div>
								{product.title}
								<br />
								<span class="badge badge-ghost badge-sm">{product.description}</span>
							</div>
						</div>
					</td>
					<td>{Number(product.price).toLocaleString()}</td>
					<td
						><NumberInput
							id="mynum"
							value={Number(product.quantity)}
							min={0}
							on:change={() =>
								(product.showUpdate = this.value != Number(product.quantity) ? true : false)}
						/></td
					>
					<td>{(Number(product.price) * Number(product.quantity)).toLocaleString()}</td>
					<th>
						<button class="btn btn-xs btn-error">Remove</button>
						<button class="btn btn-xs btn-success">Update</button>
					</th>
				</tr>
			{/each}
			<tr class="font-bold">
				<td>Total </td>
				<td>{cart.totalProducts} Products</td>
				<td>{cart.totalQuantity} Items</td>
				<td>{Number(cart.total).toLocaleString()}</td>
				<th>
					<button
						class="btn btn-xs btn-success"
						on:click={() => {
							checkoutCart(cart.id);
						}}>Checkout</button
					>
				</th>
			</tr>
		</tbody>
	</table>
</div>
<Toast />
