<div class="drawer drawer-mobile bg-base-300" data-theme="lemonade">
	<input id="my-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-side drop-shadow-xl">
		<label for="my-drawer" class="drawer-overlay">x</label>
		<ul class="menu p-4">
			<!-- Sidebar content here -->

			<li class="hidden"><a href="/register">Register </a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/">Marketplace</a></li>
			<li class="hidden"><a href="/marketplace">Marketplace2</a></li>
			<li class="hidden"><a href="/wallet">Wallet</a></li>
			<li><a href="/messages">Messages</a></li>
			<li><a href="/cart">Cart</a></li>
			<li><a href="/order">Order History</a></li>

			<li class="hidden"><a href="/explanation">Explanation</a></li>
			<li class="hidden"><a href="/protected">Protected</a></li>
		</ul>
	</div>
</div>
