<script>
	export let page = 1;
</script>

<div class="btn-group">
	<button class="btn btn-xs btn-primary" on:click={() => (page -= 1)}>«</button>
	<button class="btn btn-xs btn-primary">Page {page}</button>
	<button class="btn btn-xs btn-primary" on:click={() => (page += 1)}>»</button>
</div>
