<script>
	import { page } from '$app/stores';
</script>

<!-- {#if session?.user.role === 'admin'}
	<p>You are an admin, welcome!</p>
{:else}
	<p>You are not admin, you are {session?.user.role}</p>
{/if} -->
<div
	class="stats stats-horizontal md:stats-vertical shadow bg-primary text-primary-content max-w-full mt-5"
>
	<div class="stat">
		<div class="stat-figure text-secondary hidden md:inline-block">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block w-8 h-8 stroke-current"
				><path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/></svg
			>
		</div>
		<div class="stat-title">Account Balance</div>
		<div class="stat-value">$89,400</div>
		<div class="stat-desc">Jan 1st - Feb 1st</div>
		<div class="stat-actions">
			<button class="btn btn-sm btn-success">Deposit</button>
			<button class="btn btn-sm btn-error">Withdrawal</button>
		</div>
	</div>
	<div class="stat">
		<div class="stat-figure text-secondary hidden md:inline-block">
			<div class="avatar">
				<div class="w-12     mask mask-squircle">
					<img src="https://miro.medium.com/max/1400/1*SSABfkBUeXyoqAArPfuHNg.jpeg" />
				</div>
			</div>
		</div>
		<div class="stat-title">Unread Messages</div>
		<div class="stat-value">8</div>
		<div class="stat-desc">↘︎ 90 (14%)</div>
		<div class="stat-actions">
			<button class="btn btn-sm">Check Messages</button>
		</div>
	</div>
	<div class="stat">
		<div class="stat-figure text-secondary hidden md:inline-block">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block w-8 h-8 stroke-current"
				><path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
				/></svg
			>
		</div>
		<div class="stat-title">Recent Transactions</div>
		<div class="stat-value">8</div>
		<div class="stat-desc">↗︎ 400 (22%)</div>
		<div class="stat-actions">
			<button class="btn btn-sm">View Transactions</button>
		</div>
	</div>
	<div class="stat">
		<div class="stat-figure text-secondary hidden md:inline-block">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block w-8 h-8 stroke-current"
				><path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
				/></svg
			>
		</div>
		<div class="stat-title">Pending Orders (Carts)</div>
		<div class="stat-value">8</div>
		<div class="stat-desc">↗︎ 400 (22%)</div>
		<div class="stat-actions">
			<button class="btn btn-sm">View Carts</button>
		</div>
	</div>
</div>
